/* universe css  */
.font-12{
    font-size: 0.75rem;
}
.font-28{
    font-size: 25px;
}
a{
    text-decoration: none;
}
.font-1rem{
    font-size: 1rem;
}
/* support page */ */
.support{
  border: 2px solid red;
}
/* team section */
.Vasu-Sniper{
    height: 40%;
    border-radius:100%;
}