@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
:root{
  --font-size: 10px;
}
.p_10px{
  font-size: var(--font-size);
  font-family: 'Inter', sans-serif;
  line-height: 1rem;
  font-weight: 400;
}
body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: #1a202c; /* Dark Grayish color */
}

p {
  font-size: 16px;
  color: #4a5568; /* Medium Gray */
  line-height: 1.6;
}

.hero_btn {
  width: 20%;
  margin: 0 auto;
  color: white;
}
.hero_btn:hover {
  background-color: black;
  color: white;
}
/* Avards section  */
.awards_press_logo {
  width: 80%;
  opacity: 1;
}
.awards_press_logo:hover {
  opacity: 0.8;
}
/* education section */

/* nav section */
.nav_container {
  display: flex;
  justify-content: end;
}
ul li{
  margin-right: 2rem;
}
/* MD ke liye adjust */
@media (max-width: 768px) {
 .nav_container{
  display: flex;
  justify-content:start;
  margin-left: 10;
  }
  ul li{
    margin-right:none;
  }
}
/* footer section */
.footer a{
  text-decoration: none;
  font-size: 16px;
  color: #666666;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.footer a:hover{
  color:#387ED1;
}